@keyframes spin-slow {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.animate-spin-slow {
    animation: spin-slow 8s linear infinite;
}

@keyframes profile-pop {
    0% {
        opacity: 0;
        transform: scale(0.9) translateY(20px);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.animate-profile-pop {
    animation: profile-pop 0.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes float-slow {

    0%,
    100% {
        transform: translateY(0) scale(1);
    }

    50% {
        transform: translateY(-20px) scale(1.1);
    }
}

.animate-float-slow {
    animation: float-slow 10s ease-in-out infinite;
}

.animate-float-slow-reverse {
    animation: float-slow 12s ease-in-out infinite reverse;
}